instructionFetch: [
  { # pc into mar (pcout is seperate)
    aluNOE: 1
    aluSubShiftDir: 0
    aluOp0: 0
    aluOp1: 0
    aluWr: 0
    regWr0: 0
    regWr1: 0
    regBusSel: 0
    regNBusEn: 1
    aluSel: 0
    ramAddressEn: 1
    ramWriteEn: 0
    ramOE: 0
    loadPC: 0
    incrPC: 0
    nImmOut: 1
  }
  { # load instruction
    aluNOE: 1
    aluSubShiftDir: 0
    aluOp0: 0
    aluOp1: 0
    aluWr: 0
    regWr0: 0
    regWr1: 0
    regBusSel: 0
    regNBusEn: 1
    aluSel: 0
    ramAddressEn: 0
    ramWriteEn: 0
    ramOE: 1
    loadPC: 0
    incrPC: 1
    nImmOut: 1
  }
]
noOp: {
    aluNOE: 1
    aluSubShiftDir: 0
    aluOp0: 0
    aluOp1: 0
    aluWr: 0
    regWr0: 0
    regWr1: 0
    regBusSel: 0
    regNBusEn: 1
    aluSel: 0
    ramAddressEn: 0
    ramWriteEn: 0
    ramOE: 0
    loadPC: 0
    incrPC: 0
    nImmOut: 1

}
instructions: [
    {
      op: '000000rs' # r = r + s
      signals: [
        { # r + s into alu
          aluNOE: 1
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 1
          regWr0: 0
          regWr1: 0
          regBusSel: 's'
          regNBusEn: 0
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          nImmOut: 1
        }
        { # alu into r
          aluNOE: 0
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: '!r'
          regWr1: 'r'
          regBusSel: 0
          regNBusEn: 1
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          nImmOut: 1
        }
      ]
    }
    {
      op: '000001rs' # r = r - s
      signals: [
        { # r + s into alu
          aluNOE: 1
          aluSubShiftDir: 1
          aluOp0: 0
          aluOp1: 0
          aluWr: 1
          regWr0: 0
          regWr1: 0
          regBusSel: 's'
          regNBusEn: 0
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          nImmOut: 1
        }
        { # alu into r
          aluNOE: 0
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: '!r'
          regWr1: 'r'
          regBusSel: 0
          regNBusEn: 1
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          nImmOut: 1
        }
      ]
    }
    {
      op: '000010rs' # r = r & s
      signals: [
        { # r + s into alu
          aluNOE: 1
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 1
          aluWr: 1
          regWr0: 0
          regWr1: 0
          regBusSel: 's'
          regNBusEn: 0
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          nImmOut: 1
        }
        { # alu into r
          aluNOE: 0
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: '!r'
          regWr1: 'r'
          regBusSel: 0
          regNBusEn: 1
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          nImmOut: 1
        }
      ]
    }
    {
      op: '000011rs' # r = r ^ s
      signals: [
        { # r + s into alu
          aluNOE: 1
          aluSubShiftDir: 0
          aluOp0: 1
          aluOp1: 0
          aluWr: 1
          regWr0: 0
          regWr1: 0
          regBusSel: 's'
          regNBusEn: 0
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          nImmOut: 1
        }
        { # alu into r
          aluNOE: 0
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: '!r'
          regWr1: 'r'
          regBusSel: 0
          regNBusEn: 1
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          nImmOut: 1
        }
      ]
    }
    {
      op: '01imm00r' # r = r + imm
      signals: [
        { # r + s into alu
          aluNOE: 1
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 1
          regWr0: 0
          regWr1: 0
          regBusSel: 0
          regNBusEn: 1
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          nImmOut: 0
        }
        { # alu into r
          aluNOE: 0
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: '!r'
          regWr1: 'r'
          regBusSel: 0
          regNBusEn: 1
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          nImmOut: 1
        }
      ]
    }
    {
      op: '01imm01r' # r = r - imm
      signals: [
        { # r + s into alu
          aluNOE: 1
          aluSubShiftDir: 1
          aluOp0: 0
          aluOp1: 0
          aluWr: 1
          regWr0: 0
          regWr1: 0
          regBusSel: 0
          regNBusEn: 1
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          nImmOut: 0
        }
        { # alu into r
          aluNOE: 0
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: '!r'
          regWr1: 'r'
          regBusSel: 0
          regNBusEn: 1
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          nImmOut: 1
        }
      ]
    }
    {
      op: '01imm10r' # r = r << imm
      signals: [
        { # r + s into alu
          aluNOE: 1
          aluSubShiftDir: 1
          aluOp0: 1
          aluOp1: 1
          aluWr: 1
          regWr0: 0
          regWr1: 0
          regBusSel: 0
          regNBusEn: 1
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          nImmOut: 0
        }
        { # alu into r
          aluNOE: 0
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: '!r'
          regWr1: 'r'
          regBusSel: 0
          regNBusEn: 1
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          nImmOut: 1
        }
      ]
    }
    {
      op: '01imm11r' # r = r >> imm
      signals: [
        { # r + s into alu
          aluNOE: 1
          aluSubShiftDir: 0
          aluOp0: 1
          aluOp1: 1
          aluWr: 1
          regWr0: 0
          regWr1: 0
          regBusSel: 0
          regNBusEn: 1
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          nImmOut: 0
        }
        { # alu into r
          aluNOE: 0
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: '!r'
          regWr1: 'r'
          regBusSel: 0
          regNBusEn: 1
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          nImmOut: 1
        }
      ]
    }
    {
      op: '000100rs' # r = [s]
      signals: [
        { # s to ram
          aluNOE: 1
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: 0
          regWr1: 0
          regBusSel: 's'
          regNBusEn: 0
          aluSel: 0
          ramAddressEn: 1
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          nImmOut: 1
        }
        { # wait for ram
          aluNOE: 1
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: 0
          regWr1: 0
          regBusSel: 0
          regNBusEn: 1
          aluSel: 0
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          nImmOut: 1
        }
        { # s to ram
          aluNOE: 1
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: '!r'
          regWr1: 'r'
          regBusSel: 0
          regNBusEn: 1
          aluSel: 0
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 1
          loadPC: 0
          incrPC: 0
          nImmOut: 1
        }
      ]
    }
    {
      op: '000101rs' # [s] = r
      signals: [
        { # s to ram
          aluNOE: 1
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: 0
          regWr1: 0
          regBusSel: 's'
          regNBusEn: 0
          aluSel: 0
          ramAddressEn: 1
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          nImmOut: 1
        }
        { # s to ram
          aluNOE: 1
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: 0
          regWr1: 0
          regBusSel: 'r'
          regNBusEn: 0
          aluSel: 0
          ramAddressEn: 0
          ramWriteEn: 1
          ramOE: 0
          loadPC: 0
          incrPC: 0
          nImmOut: 1
        }
      ]
    }
  ]