instructionFetch: [
  { # pc into mar
    aluOE: 0
    aluSubShiftDir: 0
    aluOp0: 0
    aluOp1: 0
    aluWr: 0
    regWr0: 0
    regWr1: 0
    regBusSel: 0
    regBusEn: 0
    aluSel: 0
    ramAddressEn: 1
    ramWriteEn: 0
    ramOE: 0
    loadPC: 0
    incrPC: 0
    immOut: 0
  }
  { # wait for ram
    aluOE: 0
    aluSubShiftDir: 0
    aluOp0: 0
    aluOp1: 0
    aluWr: 0
    regWr0: 0
    regWr1: 0
    regBusSel: 0
    regBusEn: 0
    aluSel: 0
    ramAddressEn: 0
    ramWriteEn: 0
    ramOE: 0
    loadPC: 0
    incrPC: 0
    immOut: 0
  }
  { # load instruction
    aluOE: 0
    aluSubShiftDir: 0
    aluOp0: 0
    aluOp1: 0
    aluWr: 0
    regWr0: 0
    regWr1: 0
    regBusSel: 0
    regBusEn: 0
    aluSel: 0
    ramAddressEn: 0
    ramWriteEn: 0
    ramOE: 1
    loadPC: 0
    incrPC: 1
    immOut: 0
  }
]
instructions: [
    {
      op: '000000rs' # r = r + s
      signals: [
        { # r + s into alu
          aluOE: 0
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 1
          regWr0: 0
          regWr1: 0
          regBusSel: 's'
          regBusEn: 1
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          immOut: 0
        }
        { # alu into r
          aluOE: 1
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: '!r'
          regWr1: 'r'
          regBusSel: 0
          regBusEn: 0
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          immOut: 0
        }
      ]
    }
    {
      op: '000001rs' # r = r - s
      signals: [
        { # r + s into alu
          aluOE: 0
          aluSubShiftDir: 1
          aluOp0: 0
          aluOp1: 0
          aluWr: 1
          regWr0: 0
          regWr1: 0
          regBusSel: 's'
          regBusEn: 1
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          immOut: 0
        }
        { # alu into r
          aluOE: 1
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: '!r'
          regWr1: 'r'
          regBusSel: 0
          regBusEn: 0
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          immOut: 0
        }
      ]
    }
    {
      op: '000010rs' # r = r & s
      signals: [
        { # r + s into alu
          aluOE: 0
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 1
          aluWr: 1
          regWr0: 0
          regWr1: 0
          regBusSel: 's'
          regBusEn: 1
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          immOut: 0
        }
        { # alu into r
          aluOE: 1
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: '!r'
          regWr1: 'r'
          regBusSel: 0
          regBusEn: 0
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          immOut: 0
        }
      ]
    }
    {
      op: '000011rs' # r = r ^ s
      signals: [
        { # r + s into alu
          aluOE: 0
          aluSubShiftDir: 0
          aluOp0: 1
          aluOp1: 0
          aluWr: 1
          regWr0: 0
          regWr1: 0
          regBusSel: 's'
          regBusEn: 1
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          immOut: 0
        }
        { # alu into r
          aluOE: 1
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: '!r'
          regWr1: 'r'
          regBusSel: 0
          regBusEn: 0
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          immOut: 0
        }
      ]
    }
    {
      op: '01imm00r' # r = r + imm
      signals: [
        { # r + s into alu
          aluOE: 0
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 1
          regWr0: 0
          regWr1: 0
          regBusSel: 0
          regBusEn: 0
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          immOut: 1
        }
        { # alu into r
          aluOE: 1
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: '!r'
          regWr1: 'r'
          regBusSel: 0
          regBusEn: 0
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          immOut: 0
        }
      ]
    }
    {
      op: '01imm01r' # r = r - imm
      signals: [
        { # r + s into alu
          aluOE: 0
          aluSubShiftDir: 1
          aluOp0: 0
          aluOp1: 0
          aluWr: 1
          regWr0: 0
          regWr1: 0
          regBusSel: 0
          regBusEn: 0
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          immOut: 1
        }
        { # alu into r
          aluOE: 1
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: '!r'
          regWr1: 'r'
          regBusSel: 0
          regBusEn: 0
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          immOut: 0
        }
      ]
    }
    {
      op: '01imm10r' # r = r << imm
      signals: [
        { # r + s into alu
          aluOE: 0
          aluSubShiftDir: 1
          aluOp0: 1
          aluOp1: 1
          aluWr: 1
          regWr0: 0
          regWr1: 0
          regBusSel: 0
          regBusEn: 0
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          immOut: 1
        }
        { # alu into r
          aluOE: 1
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: '!r'
          regWr1: 'r'
          regBusSel: 0
          regBusEn: 0
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          immOut: 0
        }
      ]
    }
    {
      op: '01imm11r' # r = r >> imm
      signals: [
        { # r + s into alu
          aluOE: 0
          aluSubShiftDir: 0
          aluOp0: 1
          aluOp1: 1
          aluWr: 1
          regWr0: 0
          regWr1: 0
          regBusSel: 0
          regBusEn: 0
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          immOut: 1
        }
        { # alu into r
          aluOE: 1
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: '!r'
          regWr1: 'r'
          regBusSel: 0
          regBusEn: 0
          aluSel: 'r'
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          immOut: 0
        }
      ]
    }
    {
      op: '000100rs' # r = [s]
      signals: [
        { # s to ram
          aluOE: 0
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: 0
          regWr1: 0
          regBusSel: 's'
          regBusEn: 1
          aluSel: 0
          ramAddressEn: 1
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          immOut: 0
        }
        { # wait for ram
          aluOE: 0
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: 0
          regWr1: 0
          regBusSel: 0
          regBusEn: 0
          aluSel: 0
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          immOut: 0
        }
        { # s to ram
          aluOE: 0
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: '!r'
          regWr1: 'r'
          regBusSel: 0
          regBusEn: 0
          aluSel: 0
          ramAddressEn: 0
          ramWriteEn: 0
          ramOE: 1
          loadPC: 0
          incrPC: 0
          immOut: 0
        }
      ]
    }
    {
      op: '000101rs' # [s] = r
      signals: [
        { # s to ram
          aluOE: 0
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: 0
          regWr1: 0
          regBusSel: 's'
          regBusEn: 1
          aluSel: 0
          ramAddressEn: 1
          ramWriteEn: 0
          ramOE: 0
          loadPC: 0
          incrPC: 0
          immOut: 0
        }
        { # s to ram
          aluOE: 0
          aluSubShiftDir: 0
          aluOp0: 0
          aluOp1: 0
          aluWr: 0
          regWr0: 0
          regWr1: 0
          regBusSel: 'r'
          regBusEn: 1
          aluSel: 0
          ramAddressEn: 0
          ramWriteEn: 1
          ramOE: 0
          loadPC: 0
          incrPC: 0
          immOut: 0
        }
      ]
    }
  ]