(instance U54
 (viewRef NetlistView
  (cellRef &74AS867_0
  (libraryRef OrCAD_LIB))) (designator "U54")
 (property PCB Footprint (string "DIP.100/24/W.300/L1.175"))
 (property Name (string "I656203"))
 (property Value (string "74AS867"))
 (portInstance &3)
 (portInstance &4)
 (portInstance &5)
 (portInstance &6)
 (portInstance &7)
 (portInstance &8)
 (portInstance &9)
 (portInstance &10)
 (portInstance &14)
 (portInstance &22)
 (portInstance &21)
 (portInstance &20)
 (portInstance &19)
 (portInstance &18)
 (portInstance &17)
 (portInstance &16)
 (portInstance &15)
 (portInstance &13)
 (portInstance &24)
 (portInstance &12)
 (portInstance &11)
 (portInstance &23)
 (portInstance &1)
 (portInstance &2))